div.route-card {
  color: #000;
}

button.btn-delivery {
  margin: 2% 3%;
  min-width: 25%;
}

.page-routes h2{
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: 2em;
}

.page-routes div.row{
  padding: 10px 25px;
}

.route-stat {
  display: block;
  padding: 15px;
  margin: 3%;
  box-shadow: 0px 2px 10px #eee;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ccc;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}

button.btn.create-delivery-btn{
  text-align: center;
  min-width: 100px;
  display: inline-block;
  margin-left: 2%;
}

button.btn.create-route-btn {
  text-align: center;
  width: 150px;
  display: block;
  margin: 0 auto;
}