@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Inconsolata');

.page-home, .page-login{
  margin-top: 20vh;
}
#title{
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: 3em;
}
ul#deliveries {
  list-style: none;
  padding: 5px;
  text-align: center;
}

span#not_found {
  font-family: 'Alfa Slab One', cursive;
  font-size: 2.5em;
}